[Unit]
Description=GSMDESCRIPTION
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=GSMUSER
WorkingDirectory=/home/GSMDIR
ExecStart=/home/GSMDIR/ start
ExecStop=/home/GSMDIR/GSMSCRIPT stop
Restart=no
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0

[Install]
WantedBy=multi-user.target
